<h2>Login</h2>
<form asp-action="Index" asp-controller="Account" method="post">
    UserName: <input type="text" placeholder="username" name="username"/>
    <br />
    <br />
    Password: <input type="password" placeholder="password" name="password"/>
    <br />
    <input type="submit" value="Login"/>
</form>